* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.parent {
 
}
div {
  border: 2px solid red;
}
.div4{
    display: flex;
}
.div2{
    max-width: 20vw;
}
video{
    width: 170px;
}
.div3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons{
    display: flex;
flex-wrap: nowrap;
justify-content: space-between;

}
